<div data-role='page' class='index' id='page_<%=@page%>'>
  <div data-role="header" data-position='fixed'>
    <h1>DI</h1>
    <a data-role='button' data-icon='home ui-btn-right' class='refresh' href='/' data-transition='slideup'>Home</a>
  </div>

  <% if @indexes.size > 0 %>
  <div data-role='content'>

    <ul data-role="listview">
      <% @indexes.each do |dir| %>
      <li><a href='/dirs/<%=dir.last%>'><%=dir.first%></a></li>
      <% end %>
    </ul>
  </div>
  <% end %>

</div>