<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" href="/jquery.mobile-1.0.min.css" />
    <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/jquery.mobile-1.0.min.js"></script>
    <style type='text/css'>
/*      body {
        margin: 0;
        padding: 0;
      }*/
      img {
        /*max-width: 100%;*/
        width: 100%;
        height: auto;
      }
      .thumbs {
        margin: 0;
        padding: 0;
      }
      .thumbs ul {
        margin: 0;
        padding: 0;
      }
      .thumbs li {
        margin: 2px;
        padding: 0;
        display: inline-block;
      }
      .thumbs img {
        width: 76px;
        height: 76px;
        border: none;
      }
    </style>
    <title><%=@title%></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>